<app-menu></app-menu>

<div class="parent">
    <div class="div1">
        <div class="titulo text-center">
            <h1>ACERCA DE MI </h1>
        </div>
        <div class="linea"></div>
    </div>
    <div class="div2">
        <div class="franja rounded"> <i class="fas fa-user"></i> Biografía </div><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quia, ad exercitationem iure officiis impedit eveniet esse laboriosam assumenda perferendis voluptas atque delectus id vitae quos, mollitia temporibus! Tenetur, quo.
        Velit impedit consectetur voluptatum eius in dolorem optio reiciendis quo quasi ab labore, debitis corporis? Odio est corporis provident praesentium quisquam nisi sit ut, sapiente, laborum vel impedit temporibus repudiandae?
        Repellat nemo minus possimus quod omnis ab aspernatur, consectetur velit dolorum praesentium et ut assumenda molestiae enim illum? Molestiae reprehenderit quae ducimus? Pariatur, ullam modi labore dolor beatae sint? Harum.
        Inventore veritatis ullam commodi, in delectus voluptas labore, nostrum accusantium molestiae sunt praesentium et. Facilis earum neque reprehenderit iure dolores pariatur, fugiat nulla cupiditate laborum dolor quidem cum mollitia harum?
        Nihil harum cumque sed non suscipit quidem accusamus rem ab voluptates magni similique ratione architecto est amet pariatur et iusto dolorem iure numquam voluptas, in error illum! Molestias, ratione hic!
        Aperiam molestiae necessitatibus dicta sunt beatae possimus, tempora odio dignissimos praesentium i voluptas quis. Error repellendus sunt possimus est? Id voluptatem vero reiciendis doloremque ipsa natus nesciunt illo amet. Illo.
        Eaque natus alias quibusdam dignissimos voluptatum quis, deserunt recusandae perferendis? Eligendi, possimus autem nulla, culpa nobis assumenda beatae molestiae facere labore impedit libero qui. Velit in iusto expedita maiores ab?
    </div>
    <div class="div3 text-center">
        <img class="img-fluid img_acerca rounded" src="assets/mike.jpg" alt="">
        
    </div>
    <div class="div4"> 
        <div class="div5">
            <div class="franja rounded"><i class="fas fa-brain"></i> Habilidades </div>
        </div>
        <div class="div6">
            <div class="franjalen rounded"><i class="fab fa-python"></i> Lenguajes de programación </div>
            <table   style="width: 70%; height: 150px;font-size: 20px;margin: 30px;">
                <ul>
                 <tr >
                   <td><i><li>Java</li></i></td>
                   <td>&starf;&starf;&starf;&starf;&star;</td>       
                 </tr>
                 <tr>
                     <td><i><li>JavaScript</li></i></td>
                     <td>&starf;&starf;&starf;&star;&star;</td>
                 </tr>
                 <tr>
                     <td><i><li>C#</li></i></td>
                     <td>&starf;&starf;&starf;&star;&star;</td>          
                 </tr>
                 <tr >
                     <td><i><li>Python</li></i></td>
                     <td>&starf;&starf;&starf;&star;&star;</td>
                   </tr>   
                   <tr >
                     <td><i><li>C++</li></i></td>
                     <td>&starf;&starf;&starf;&star;&star;</td>       
                   </tr>
                   <tr>
                       <td><i><li>PHP</li></i></td>
                       <td>&starf;&starf;&starf;&starf;&star;</td>
                   </tr>
                   <tr>
                       <td><i><li>SQL</li></i></td>
                       <td>&starf;&starf;&starf;&star;&star;</td>          
                   </tr>
                   </ul>
               </table>
        </div>
        <div class="div7">
            <div class="franjasoft rounded"><i class="fas fa-laptop-code"></i> Software </div>
            <table   style="width: 70%; height: 150px;font-size: 20px;margin: 30px;">
                <ul>
                 <tr >
                   <td><i><li>Visual Studio Code</li></i></td>
                   <td>&starf;&starf;&starf;&starf;&star;</td>       
                 </tr>
                 <tr>
                     <td><i><li>Eclipse IDE</li></i></td>
                     <td>&starf;&starf;&starf;&starf;&star;</td>
                 </tr>
                 <tr>
                     <td><i><li>NetBeans IDE</li></i></td>
                     <td>&starf;&starf;&starf;&starf;&star;</td>          
                 </tr>
                 <tr >
                     <td><i><li>Microsoft Word</li></i></td>
                     <td>&starf;&starf;&starf;&starf;&starf;</td>
                   </tr>   
                   <tr >
                     <td><i><li>Power Point</li></i></td>
                     <td>&starf;&starf;&starf;&starf;&starf;</td>       
                   </tr>
                   <tr>
                       <td><i><li>Adobe Photoshop</li></i></td>
                       <td>&starf;&starf;&starf;&star;&star;</td>
                   </tr>
                   <tr>
                       <td><i><li>Wondershare Filmora</li></i></td>
                       <td>&starf;&starf;&starf;&starf;&star;</td>          
                   </tr>
                   <tr>
                     <td><i><li>Unity</li></i></td>
                     <td>&starf;&starf;&starf;&star;&star;</td>          
                 </tr>
                 <tr>
                     <td><i><li>Oracle VM Virtual Box</li></i></td>
                     <td>&starf;&starf;&starf;&starf;&star;</td>          
                 </tr>
                 <tr>
                     <td><i><li>Cisco Packet Tracer</li></i></td>
                     <td>&starf;&starf;&starf;&star;&star;</td>          
                 </tr>
                 <tr>
                     <td><i><li>Adobe After Effects</li></i></td>
                     <td>&starf;&starf;&starf;&star;&star;</td>          
                 </tr>
                 <tr>
                     <td><i><li>pgAdmin</li></i></td>
                     <td>&starf;&starf;&starf;&starf;&star;</td>          
                 </tr>
                   </ul>
               </table>
        </div>
        <div class="div8 text-center">
            <div class="franjaidiom rounded"><i class="fas fa-language"></i> Idiomas</div>
            <br>
            <blockquote> &check;&nbsp;<i>Español</i><br></blockquote>
            <blockquote> &check;&nbsp;<i>Inglés</i></blockquote>
        </div>

    </div>
</div>
<br>
<br>
<app-footer></app-footer>